In [1]:
from pathlib import Path

import pandas as pd

DATA = Path("../data")

df = pd.read_csv(DATA / "avg_subwords_mBERT.csv", sep=";")
df

             verses  avg_subwords glottocode
0    verses/aau.txt     82.037074   abau1245
1    verses/abt.txt     82.901452   ambu1247
2    verses/aca.txt     60.509000   acha1250
3    verses/ace.txt     71.592000   achi1257
4    verses/ach.txt     44.531000   acol1236
..              ...           ...        ...
567  verses/zpi.txt     53.227000   sant1451
568  verses/zpm.txt     64.967480   mixt1426
569  verses/zpq.txt     74.311623   zoog1238
570  verses/zsm.txt     55.686000   stan1306
571  verses/zul.txt     50.944000   zulu1248

[572 rows x 3 columns]

In [2]:
frame = df["glottocode"].tolist()

# no dupes
assert len(frame) == len(set(frame))

In [3]:
Path(DATA / "frames/tokenizer_frame.txt").write_text("\n".join(frame))

5147

In [15]:
# get intersection of all resources
import json

with open(DATA / "convenience_counts.json") as f:
    convenience_frame = set(json.load(f).keys())

wals_df = pd.read_csv(DATA / "wals_dedup.csv")
wals_frame = set(wals_df["Glottocode"].tolist())


gb_df = pd.read_csv(DATA.parent / "grambank/cldf/languages.csv")
gb_frame = set(gb_df["Glottocode"].tolist())

In [17]:
equal_lang_frame = wals_frame & gb_frame & convenience_frame & set(frame)
len(equal_lang_frame)

89

In [18]:
Path(DATA / "frames/equal_lang_frame.txt").write_text("\n".join(equal_lang_frame))

800